[
    {
        "hardware": "hardware type (eg, HS100; optional)",
        "ip": "ip address (required)",
        "location": "room in house (optional)",
        "mac": "mac address (optional)",
        "manufacturer": "device manufacturer (optional)",
        "name": "name (required)"
    },
    ...
]
